<%- include("partials/header.ejs") %>
    <div class="row m-0 gov-home-page pt-5">
        <div class="col-12 p-0">
            <div class="jumbotron centered">
                <div class="container">
                    <div class="row">
                        <div class="gov-portal mb-3">
                            <h1 class="text-white">Government Portal</h1>
                        </div>
                        <div class="col-12 gov-home-proj mb-3">
                            <a class="btn userloginbtn text-white log1" href="/government/login/home2/infra" role="button">View Projects</a>
                        </div>
                        <div class="col-12 gov-home-issue mb-3">
                            <a class="btn userloginbtn text-white log1 " href="/governmentIssue" role="button">View Issues</a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>